{% extends 'base.html' %}

{% block title %}Student API Guide{% endblock %}

{% block content %}
<h2 class = "border-dark border-bottom pb-1 mb-3">How To Use</h2>
<p class = "text-body">This program is a demonstration of APIs and Flask. You can edit and add students through GUI or API calls. Postman is often used to send over API requests. Alternatively, in the GUI you can add students and their fields. Then once they are added you can click on their names to open their profile page where you can delete or edit their profile. In addition, no students may have the same student IDs. </p>
{% endblock %}