{% extends 'base.html' %}

{% block title %}Student API Home{% endblock %}

{% block content %}
<h2 class = "border-dark border-bottom pb-1 mb-3">Student Data</h2>
            {% for student in data %}
            <!--card-->
            <div class = "card mb-4 shadow">
                <div style = "background-color: slategray" class = "card-header">
                    <h5 class = "d-inline card-title text-white">
                    <a class = "text-white" href = "/{{student.FirstName}}_{{student.LastName}}/edit">
                        {{student.FirstName}} {{student.LastName}}
                    </a>
                    </h5>
                    <div class ="d-inline float-right">
                        <p class = "d-inline text-white">
                            ID: {{student.ID}}
                        </p>
                    </div>
                </div>
                <div class ="card-body">
                    <h6 class = "card-subtitle mb-2 text-muted">GPA: {{student.GPA}}/4.0</h6>
                    <h6 class = "card-subtitle mb-2 text-muted">Class: {{student.Class}}</h6>
                    <h6 class = "card-subtitle mb-2 text-muted">Age: {{student.Age}}</h6>
                    <h6 class = "card-subtitle mb-2 text-muted">Tardies and Absences: {{student.LateAbsent}}</h6>
                    <p class = "card-text">{{student.Description}}</p>
                </div>
            </div>
            {% endfor %}
{% endblock %}